<div class="container-fluid pl-0 pr-0">
  <div class="modal-header">
    <div class="col-xs-11 col-md-11">
      <h4 class="modal-title font-weight-bold word-wrap">Pedigree Tree Viewer</h4>
      <span>{{sourceGermplasm.germplasmName}} (ID: {{sourceGermplasm.germplasmDbId}})</span>
    </div>
    <div class="col-xs-1 col-md-1">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
              (click)="clear()">&times;
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="legend-title">Legend</div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <div class="node-legend">
                  <div class="legend-scale">
                    <ul class="legend-labels">
                      <li><div class="box no-border" style="color:Red">&#8212;&#8212;&#8212;</div><span>Female Parent</span></li>
                      <li><div class="box no-border" style="color:Blue">&#8212;&#8212;&#8212;</div><span>Male Parent</span></li>
                      <li><div class="box no-border" style="color:Black">&#8212;&#8212;&#8212;</div><span>Derivative Self</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div *ngIf="showDestinationPreviewTree" class="col-5">
                <div class="node-legend">
                  <div class="legend-scale">
                    <ul class="legend-labels">
                      <li><div class="box gold"></div><span>Germplasm already exists in the destination server</span></li>
                      <li><div class="box lime-green"></div><span>Germplasm without existing record in the destination server</span></li>
                      <li><div class="box red"></div><span>Germplasm parent does not match the source</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row" *ngIf="showDestinationPreviewTree">
      <div class="col">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" name="showSourcePedigreeTreeCheckbox" id="showSourcePedigreeTreeCheckbox" [(ngModel)]="showSourcePedigreeTree">
          <label class="custom-control-label" for="showSourcePedigreeTreeCheckbox">Show source pedigree tree</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="showSourcePedigreeTree" [ngClass]="showSourcePedigreeTree && !showDestinationPreviewTree ? 'col' : 'col-6'">
        <p class="text-center font-weight-bold">Source Pedigree Tree</p>
      </div>
      <div *ngIf="showDestinationPreviewTree" [ngClass]="!showSourcePedigreeTree && showDestinationPreviewTree ? 'col' : 'col-6'">
        <p class="text-center font-weight-bold">Preview Destination Pedigree Tree</p>
      </div>
    </div>
    <div class="row">
      <div *ngIf="showSourcePedigreeTree" [ngClass]="showSourcePedigreeTree && !showDestinationPreviewTree ? 'col' : 'col-6'">
        <app-pedigree-graph [graphId]="'graphSource'" [isPreviewTarget]="false" [getGermplasmTreeNode]="getGermplasmTreeNode.bind(this)" [colorizeNodes]="false"></app-pedigree-graph>
      </div>
      <div *ngIf="showDestinationPreviewTree" [ngClass]="!showSourcePedigreeTree && showDestinationPreviewTree ? 'col' : 'col-6'">
        <app-pedigree-graph [graphId]="'graphDestination'" [isPreviewTarget]="true" [getGermplasmTreeNode]="getGermplasmTreeNode.bind(this)" [colorizeNodes]="true"></app-pedigree-graph>
      </div>
    </div>
  </div>
</div>
