<div class="modal-header">
  <h1 class="modal-title">Germplasm</h1>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-10">
      <app-study-selector (onSelect)="onStudySelect()"></app-study-selector>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <app-collapsible *ngIf="germplasm.length" heading="Connection Info">
            <div class="card">
              <div class="card-body">
                <h5><span class="badge badge-pill badge-primary">{{context.sourceStudy.studyName}}</span></h5>
              </div>
            </div>
          </app-collapsible>
          <app-collapsible *ngIf="germplasm.length" heading="Options">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" name="importAncestorsCheckbox" id="importAncestorsCheckbox" [(ngModel)]="isImportAncestors" (change)="load()">
              <label class="custom-control-label" for="importAncestorsCheckbox">Import Ancestors</label>
            </div>
            <div class="card">
              <div class="card-body">
                <form>
                  <div class="form-group row">
                    <label for="numberOfGenerations" class="col-sm-2 col-form-label">Number of generations</label>
                    <div class="col-sm-1">
                      <input type="number" class="form-control" name="numberOfGenerationsText" id="numberOfGenerationsText" [(ngModel)]="numberOfGenerations" [disabled]="!isImportAncestors" min="1" max="15">
                    </div>
                    <div class="col-sm-1">
                      <button type="button" class="btn btn-primary" (click)="load()" [disabled]="!isImportAncestors">Apply</button>
                    </div>
                  </div>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" name="connectWithTargetAncestorsCheckbox" id="connectWithTargetAncestorsCheckbox" [(ngModel)]="isAttemptToConnectTargetAncestors" [disabled]="!isImportAncestors" (change)="load()">
                    <label class="custom-control-label" for="connectWithTargetAncestorsCheckbox">Attempt to connect with target ancestors</label>
                  </div>
                </form>
              </div>
            </div>
          </app-collapsible>
          <app-collapsible heading="Germplasm Mapping" *ngIf="germplasm.length && !isLoading && isNumberOfGenerationsValid">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="selectAll" (click)="onSelectAllPages()" [checked]="isSelectAllPages">
              <label class="form-check-label" for="selectAll">
                Select all
              </label>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="thead-light">
                <th *ngIf="germplasm.length && !isSelectAllPages">
                  <input type="checkbox" tooltip="select current page" [checked]="isPageSelected()" (click)="onSelectPage()" [title]="'select current page'"/>
                </th>
                <th>ID</th>
                <th>GERMPLASM NAME</th>
                <th>SYNONYMS</th>
                <th>ORIGIN</th>
                <th>DOCUMENTATION URL</th>
                <th>ACQUISITION DATE</th>
                <th *ngIf="this.isImportAncestors">SOURCE PEDIGREE</th>
                <th *ngIf="this.isImportAncestors">PREVIEW TARGET PEDIGREE</th>
                <th>BREEDING METHOD NAME</th>
                </thead>
                <tbody>
                <tr *ngFor="let row of germplasm">
                  <td *ngIf="!isSelectAllPages">
                    <input *ngIf="isSelectable(row, invalidPedigreeNodes)" type="checkbox" [checked]="isSelected(row)" (click)="toggleSelect(row)">
                  </td>
                  <td [ngClass]="isGermplasmExistsInDestination(row, germplasmInDestinationByPUIs, germplasmInDestinationByReferenceIds) ? 'table-cell-yellow' : 'table-cell-green'"
                      [attr.title]="isGermplasmExistsInDestination(row, germplasmInDestinationByPUIs, germplasmInDestinationByReferenceIds) ? 'Germplasm already exists in the destination server' : 'Germplasm does not exist yet in the destination server'">{{row.germplasmDbId}}</td>
                  <td><a (click)="showGermplasmSourceModal(row)" href="javascript: void(0)">{{row.germplasmName}}</a></td>
                  <td>{{getSynonyms(row.synonyms)}}</td>
                  <td>{{row.countryOfOrigin}}</td>
                  <td>{{row.documentationURL}}</td>
                  <td>{{row.acquisitionDate}}</td>
                  <td *ngIf="this.isImportAncestors"><a (click)="showPedigreeGraph(row, false)" href="javascript: void(0)">{{row.germplasmName}}</a></td>
                  <td *ngIf="this.isImportAncestors">
                    <fa-icon *ngIf="this.isAttemptToConnectTargetAncestors && !hasInvalidPedigreeNodes(row.germplasmDbId, invalidPedigreeNodes)" [icon]="['fas', 'check']" title="" style="color: green" class="pl-1"></fa-icon>
                    <fa-icon *ngIf="this.isAttemptToConnectTargetAncestors && hasInvalidPedigreeNodes(row.germplasmDbId, invalidPedigreeNodes)" [icon]="['fas', 'times']" title="" style="color: red" class="pl-1"></fa-icon>
                    &nbsp;&nbsp;
                    <a (click)="showPedigreeGraph(row, true)" href="javascript: void(0)">{{pedigreeUtilService.getMatchingGermplasmInDestination(row, germplasmInDestinationByPUIs, germplasmInDestinationByReferenceIds)?.germplasmName || row.germplasmName}}</a>
                  </td>
                  <td [innerHTML]="renderBreedingMethodCell(row)"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="totalCount" [(page)]="page" [pageSize]="pageSize" (pageChange)="load()"
                              [maxSize]="15" [rotate]="true" [boundaryLinks]="true">
              </ngb-pagination>

              <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()">
                <option [ngValue]="5">5</option>
                <option [ngValue]="20">20</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
            </div>
          </app-collapsible>
        </div>
      </div>
      <div class="row" *ngIf="isLoading">
        <div class="col">
          <span class="throbber"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back()">Back</button>
  <button type="button" class="btn btn-primary" (click)="importSelectedGermplasm()" [disabled]="isSaving || !(size(selectedItems) || isSelectAllPages && germplasm.length)">
    <span class="throbber throbber-btn" *ngIf="isSaving"></span>
    Import
  </button>
</div>
