<div class="modal-header">
  <h1 class="modal-title">BrAPI Germplasm Synchronization Tool</h1>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <h2>Germplasm</h2>
      <form>
        <div class="form-group row">
          <label for="programs" class="col-auto col-form-label">Search by</label>
          <div class="col-5">
            <div class="input-group">
              <select class="form-control" id="programs" name="destination" [(ngModel)]="filter">
                <option [value]="FILTERS.STUDY">Study</option>
                <option [value]="FILTERS.LIST" disabled>List</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-info float-right" (click)="addFilter()">
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="context.studySelected.studyDbId">
          <div class="col">
            <div class="badge badge-info">{{context.studySelected.studyName}}</div>
          </div>
        </div>
      </form>
      <div class="row" *ngIf="context.studySelected.studyDbId">
        <div class="col">
          <table class="table">
            <thead>
            <th></th>
            <th>ID</th>
            <th>GERMPLASM NAME</th>
            <th>SYNONYMS</th>
            <th>ORIGIN</th>
            <th>DOCUMENTATION URL</th>
            <th>ACQUISITION DATE</th>
            <th>PEDIGREE</th>
            <th>BREEDING METHOD NAME</th>
            </thead>

            <tbody>
            <tr *ngFor="let row of germplasm">
              <td><input type="checkbox"></td>
              <td>{{row.germplasmDbId}}</td>
              <td>{{row.germplasmName}}</td>
              <td>{{row.synonyms.join(', ')}}</td>
              <td>{{row.countryOfOrigin}}</td>
              <td>{{row.documentationURL}}</td>
              <td>{{row.acquisitionDate}}</td>
              <td>{{row.pedigree}}</td>
              <td>{{row.breedingMethodName}}</td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="totalCount" [(page)]="page" [pageSize]="pageSize" (pageChange)="load()">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="load()">
              <option [ngValue]="2">2</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="100">100</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back()">Back</button>
  <button type="button" class="btn btn-primary" (click)="next()" [disabled]="loading">
    <span class="throbber throbber-btn" *ngIf="loading"></span>
    Next
  </button>
</div>
