.legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
}
.node-legend .legend-scale ul {
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
}
.node-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.node-legend .legend-scale ul li span {
  margin-left: 5px;
}

div.box {
  width:40px;
  height:16px;
  border: 1px solid #999;
  display: inline-block;
  font-weight: bold;
}
div.box.gold {
  background:Gold;
}
div.box.lime-green {
  background:LimeGreen;
}
div.box.red {
  background:Red;
}
div.box.no-border {
  border: 0;
}