<div class="container-fluid pl-0 pr-0">
  <div class="modal-header">
    <div class="col-xs-11 col-md-11">
      <h4 class="modal-title font-weight-bold word-wrap">
        <span *ngIf="isPreviewTarget">Preview Target Pedigree Tree</span>
        <span *ngIf="!isPreviewTarget">Source Pedigree Tree</span>
      </h4>
      <span>{{sourceGermplasm.germplasmName}} (ID: {{sourceGermplasm.germplasmDbId}})</span>
    </div>
    <div class="col-xs-1 col-md-1">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
              (click)="clear()">&times;
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="node-legend">
      <div class="legend-title">Legend</div>
      <div class="legend-scale">
        <ul class="legend-labels">
          <li *ngIf="isPreviewTarget"><span style='background:Gold;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Germplasm already exists in the destination server</li>
          <li *ngIf="isPreviewTarget"><span style='background:LimeGreen;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Germplasm without existing record in the destination server</li>
          <li *ngIf="isPreviewTarget"><span style='background:Red;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Germplasm parent does not match the source</li>
          <li><span style="color:Red; font-weight: bold">&#8212;&#8212;&#8212;</span>Female Parent</li>
          <li><span style="color:Blue; font-weight: bold">&#8212;&#8212;&#8212;</span>Male Parent</li>
          <li><span style="color:Black; font-weight: bold">&#8212;&#8212;&#8212;</span>Derivative Self</li>
        </ul>
      </div>
    </div>
    <app-pedigree-graph [getGermplasmTreeNode]="getGermplasmTreeNode.bind(this)" [colorizeNodes]="isPreviewTarget"></app-pedigree-graph>
  </div>
</div>
