<div class="modal-header">
  <h1 class="modal-title">BrAPI Synchronization Tool</h1>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <h2>Program</h2>
      <form>
        <div class="form-group row">
          <label for="sourceProgram" class="col-2 col-form-label">Source Program</label>
          <div class="col-5">
            <ng-select [items]="sourcePrograms" name="sourceProgram" bindLabel="programName" [(ngModel)]="context.sourceProgram">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label for="targetProgram" class="col-2 col-form-label">Destination Program</label>
          <div class="col-5">
            <ng-select [items]="targetPrograms" name="targetProgram" bindLabel="programName" [(ngModel)]="context.targetProgramSelected">
            </ng-select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back()">Back</button>
  <button type="button" class="btn btn-primary" (click)="next()" [disabled]="!context.sourceProgram?.programDbId && !context.targetProgramSelected?.programDbId">
    <span class="throbber throbber-btn" *ngIf="loading"></span>
    Next
  </button>
</div>
