<div class="modal-header">
  <h1 class="modal-title">BrAPI Germplasm Synchronization Tool</h1>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <h2>Source</h2>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back()">Back</button>
  <button type="button" class="btn btn-primary" (click)="next()" [disabled]="loading">
    <span class="throbber throbber-btn" *ngIf="loading"></span>
    Next
  </button>
</div>
