<div class="modal-header">
  <h1 class="modal-title">BrAPI Synchronization Tool</h1>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <app-collapsible heading="Connection Info">
        <div class="card">
          <div class="card-body">
            <span class="font-weight-bold">Target URL:</span> {{context.destination}} <span class="badge badge-success">Connected</span><br/>
            <span class="font-weight-bold">Source URL:</span> {{context.source}} <span class="badge badge-success">Connected</span><br/>
            <span class="font-weight-bold">Target Program:</span> {{context.targetProgram.programName}} <br/>
            <span class="font-weight-bold">Source Program:</span> {{context.sourceProgram.programName}} <br/>
          </div>
        </div>
        <div class="pt-3">What needs to be synced today?</div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
              <th scope="col" style="width: 10%">Select</th>
              <th scope="col">Entity</th>
            </tr>
            </thead>
            <tbody>
            <tr (click)="entitySelected = ENTITY_GERMPLASM">
              <th scope="row"><div class="form-check"><input type="radio" class="form-check-input" name="entityType" [value]="ENTITY_GERMPLASM" [(ngModel)]="entitySelected"/></div></th>
              <td>Germplasm</td>
            </tr>
            <tr (click)="entitySelected = ENTITY_STUDY">
              <th scope="row"><div class="form-check"><input type="radio" class="form-check-input" name="entityType" [value]="ENTITY_STUDY" [(ngModel)]="entitySelected"/></div></th>
              <td>Studies</td>
            </tr>
            </tbody>
          </table>
        </div>
      </app-collapsible>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back()">Back</button>
  <button type="button" class="btn btn-info" (click)="next()" [disabled]="loading">
    <span class="throbber throbber-btn" *ngIf="loading"></span>
    Next
  </button>
</div>
