<div class="modal-header">
  <h1 class="modal-title">Studies</h1>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-10">
      <div class="form-inline">
        <label for="searchBy">Search By</label>
        <div class="col-4">
          <ng-select [items]="searchOptions" name="searchBySelect" bindLabel="name" bindValue="id" [(ngModel)]="searchSelected">
          </ng-select>
        </div>
        <button type="button" class="btn btn-info" (click)="openSearchModal()">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="context.sourceStudy?.studyDbId">
    <div class="col">
      <app-collapsible heading="Connection Info">
        <div class="card">
          <div class="card-body">
            <h5><span class="badge badge-pill badge-primary">{{context.sourceStudy.studyName}}</span></h5>
          </div>
        </div>
      </app-collapsible>
      <app-collapsible heading="{{context.sourceTrial.trialName + ' Metadata'}}">
        <div class="table-responsive">
          <table class="table table-bordered">
            <caption></caption>
            <thead class="thead-light">
            <tr>
              <th scope="col">Key</th>
              <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row"><span class="font-weight-bold">Trial Description</span></th>
              <td>{{context.sourceTrial.trialDescription}}</td>
            </tr>
            <tr>
              <th scope="row"><span class="font-weight-bold">Start Date</span></th>
              <td>{{context.sourceTrial.startDate}}</td>
            </tr>
            <tr>
              <th scope="row"><span class="font-weight-bold">End Date</span></th>
              <td>{{context.sourceTrial.endDate}}</td>
            </tr>
            <tr>
              <th scope="row"><span class="font-weight-bold">Documentation URL</span></th>
              <td>{{context.sourceTrial.documentationUrl}}</td>
            </tr>
            <tr>
              <th scope="row"><span class="font-weight-bold">Publications</span></th>
              <td>
                <app-expandable-json-viewer *ngIf="context.sourceTrial?.publications?.length" [json]="context.sourceTrial?.publications"></app-expandable-json-viewer>
              </td>
            </tr>
            <tr>
              <th scope="row"><span class="font-weight-bold">Contacts</span></th>
              <td>
                <app-expandable-json-viewer *ngIf="context.sourceTrial?.contacts?.length" [json]="context.sourceTrial?.contacts"></app-expandable-json-viewer>
              </td>
            </tr>
            <tr>
              <th scope="row"><span class="font-weight-bold">Additional Info</span></th>
              <td>
                <app-expandable-json-viewer *ngIf="context.sourceTrial?.additionalInfo" [json]="context.sourceTrial?.additionalInfo"></app-expandable-json-viewer>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </app-collapsible>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="errors.length">
    <ul>
      <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>
  </div>
  <div class="alert alert-success" *ngIf="info.length && !errors.length">
    <ul>
      <li *ngFor="let i of info">{{i.message}}</li>
    </ul>
  </div>
  <div class="alert alert-info" *ngIf="trialAlreadyExists">
    "{{this.context.sourceTrial.trialName}}" already exists in the destination server.
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="post()" [disabled]="!isValid()">
    <span class="throbber throbber-btn" *ngIf="loading"></span>
    Import Trial Metadata
  </button>
  <button type="button" class="btn btn-info" (click)="next()" [disabled]="!canProceed()">
    Next
  </button>
</div>

