<div class="modal-header">
  <h5 class="modal-title">Select Study</h5>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group row">
          <label for="trialSelect" class="col-sm-3 col-form-label">Trial</label>
          <div class="col-sm-9">
            <app-dropdown-virtual-scroll *ngIf="!isTrialDisabled" bindLabel="trialName" [(selectedValue)]="trialSelected" [fetchMore]="brapiTrials"></app-dropdown-virtual-scroll>
            <span *ngIf="isTrialDisabled">{{trialSelected.trialName}}</span>
          </div>
        </div>
        <div class="form-group row">
          <label for="locationSelect" class="col-sm-3 col-form-label">Location</label>
          <div class="col-sm-9">
            <app-dropdown-virtual-scroll *ngIf="!isLocationDisabled" bindLabel="locationName" [(selectedValue)]="locationSelected" [fetchMore]="brapiLocations"></app-dropdown-virtual-scroll>
            <span *ngIf="isLocationDisabled">{{locationSelected.locationName}}</span>
          </div>
        </div>
        <div class="form-group row">
          <label for="studySelect" class="col-sm-3 col-form-label">Study Name</label>
          <div class="col-sm-9">
            <app-dropdown-virtual-scroll *ngIf="!isStudyDisabled" bindLabel="studyName" [(selectedValue)]="studySelected" [fetchMore]="brapiStudies"></app-dropdown-virtual-scroll>
            <span *ngIf="isStudyDisabled">{{studySelected.studyName}}</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="select()" [disabled]="!isValid()">
    <span class="throbber throbber-btn" *ngIf="loading"></span>
    Select
  </button>
</div>


