<div class="modal-header">
    <h1 class="modal-title">Studies</h1>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <app-collapsible heading="Connection Info">
          <div class="card">
            <div class="card-body">
              <h5><span class="badge badge-pill badge-primary">{{context.sourceStudy.studyName}}</span></h5>
            </div>
          </div>
        </app-collapsible>
        <app-collapsible heading="Observations">
          <div class="table-responsive">
            <table class="table table-bordered">
              <caption></caption>
              <thead class="thead-light">
              <tr>
                <th scope="col">Source Observation Variable Name</th>
                <th scope="col">Target Observation Variable Name</th>
                <th scope="col"># Of Source Observations</th>
                <th scope="col">Source Observations</th>
                <th scope="col">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let key of context.variablesMap | objectKeys">
                <td>{{key}}</td>
                <td>{{context.variablesMap[key]?.observationVariableName}}</td>
                <td>{{sourceObservationsByVariable[key]?.length}}</td>
                <td><app-expandable-json-viewer [json]="sanitizeObject(sourceObservationsByVariable[key])"></app-expandable-json-viewer></td>
                <td>
                    <span *ngIf="isValidForImport(context.variablesMap[key]?.observationVariableName)" style="color: green"><fa-icon [icon]="['fas', 'check']"></fa-icon></span>
                    <span *ngIf="!isValidForImport(context.variablesMap[key]?.observationVariableName)"><fa-icon style="color:goldenrod" [icon]="['fas', 'exclamation-triangle']"></fa-icon> Observation(s) already exists for this variable.</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </app-collapsible>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="alert alert-danger" *ngIf="errors.length">
          <ul>
            <li *ngFor="let error of errors">{{error.message}}</li>
          </ul>
        </div>
        <div class="alert alert-success" *ngIf="info.length && !errors.length">
          <ul>
            <li *ngFor="let i of info">{{i.message}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="post()" [disabled]="!isValid()">
      <span class="throbber throbber-btn" *ngIf="isSaving"></span>
      Import Observations
    </button>
  </div>
  
  
  
  